<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creation d'un projet</title>
</head>
<body>
    <h2>Creation d'un projet</h2>
    <form action="" method="POST">
        <label for="user_login">Nommez votre projet:</label><br>
        <input type="text" id="projectName" name="projectName" required><br>
        <input type="submit" value="Créer mon projet">
    </form>
</body>
</html>