{# templates/dashboardAdmin.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Administrateur</title>
    <style>
    </style>
</head>
<body>
<nav>
    <ul>
        <li><a href="/dashboardadmin">Retour Admin dashboard</a></li>
    </ul>
</nav>
<h1>Tableau de bord de l'administrateur</h1>
    <ul>
        <li><a href="/admin/user">Mettre à jour l'utilisateur</a></li>
        <li><a href="/admin/language">Gerer les languages</a></li>
    </ul>
</body>
</html>